In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.read_csv('./pydata-book/examples/ex6.csv')

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [12]:
data=pd.read_csv('./pydata-book/examples/ex6.csv',iterator=True,chunksize=1000)
display(data)
# data.get_chunk()

In [13]:
totale=pd.Series([])
for i in data:
    totale=totale.add(i['key'].value_counts(),fill_value=0)

c:\users\root\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [14]:
totale.sum()

10000.0

In [ ]:
pd.read_excel()